{% extends "base.html" %}

{% block content %}


<div>
    <h2>Hi, {{user.username}}! These are your favorited books</h2>
        {% if user.favorite_set.count %}
        <ul class="list flex-wrap justify-center bg-mid-gray b--solid">
            {% for favorite in user.favorite_set.all %}
               
                <li class="b--solid bg-light-yellow ma1 w60"> 
                    <p class="fw5 6rem"><a class="dim black" href="{{ favorite.book.book_url }}">{{ favorite.book }}</a></p>
                    
                </li>
           
            {% endfor %}
        </ul>
        {% else %}
        <p>There are no books on the site.</p> 
        {% endif %}
</div>





{% endblock %}