<!DOCTYPE html>
<html lang="en">
<head>
  <title>Freeshelf {% block title %}{% endblock %}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://unpkg.com/tachyons@4.10.0/css/tachyons.min.css"/>
  {% block meta %}{% endblock %}
</head>
<body>
    <div class="georgia">
      <div class="flex flex-wrap items-center justify-between f2 pl5 fl w-100 light-yellow bg-dark-blue ba">
          <h1><a href="{% url 'index'%}" class="dim light-yellow">Freeshelf</a></h1>
          <div class="flex flex-wrap justify-between pa3">
            {% if request.user.is_authenticated %}
            <p class="mr2"><a class="light-yellow dim" href="{% url 'user_view' %}">{{ user.username }}</a></p>
            <p class="mr2">|</p>
            <p class="mr2"><a class="light-yellow dim" href="{% url 'auth_logout' %}?next=/core/">Logout</a></p>
            {% else %}
            <p class="mr2"><a class="light-yellow dim" href="{% url 'auth_login' %}">Login</a></p>
            <p class="mr2">|</p>
            <p class="mr2"><a class="light-yellow dim" href="{% url 'registration_register' %}">Register</a></p>
            {% endif %}
          </div>
      </div>
      
      <div class="vh-60 dt w-100">
        <div class="dtc v-mid tc ph3 ph4-1">{% block content %}{% endblock %}</div>
      </div>
    </div>
</body>
</html>

